### Vincent OS Build Ignored Files ###
# Ignore all base. files generated during the build process
base.*

# Ignore all folders that are generated during the build process
src/iso/
src/loader/
src/x86_64/

# Ignore some residual files
iso.*
build_date
efiboot.img