[Unit]
Description=Boot mode handler
After=multi-user.target
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot-mode.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
